In [1]:
def infi(newlist):
    size = len(newlist)
    temp=newlist[0]
    newlist[0]=newlist[size-1]
    newlist[size-1]=temp
    return newlist

In [2]:
l=[1,2,3,4]

In [3]:
infi(l)

[4, 2, 3, 1]

In [4]:
l=list(range(10))

In [5]:
infi(l)

[9, 1, 2, 3, 4, 5, 6, 7, 8, 0]

In [6]:
def swaplist(l):
    l[0],l[-1] = l[-1],l[0]
    return l

In [7]:
l1=list(range(15))

In [8]:
swaplist(l1)

[14, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 0]

In [12]:
def swlist(k):
    initial,*middle,final=k
    k=[final,*middle,initial]
    return k

In [13]:
k=list(range(10))

In [14]:
swlist(k)

[9, 1, 2, 3, 4, 5, 6, 7, 8, 0]

In [19]:
def swap(list):
    first=list.pop(0)
    last=list.pop(-1)
    list.append(first)
    list.insert(0,last)
    return list

In [20]:
l=list(range(6))

In [21]:
swap(l)

[5, 1, 2, 3, 4, 0]

In [22]:
l.pop(0)

5

In [23]:
l

[1, 2, 3, 4, 0]

In [24]:
l.pop(-1)

0

In [26]:
## swapping first last elements in the list ##

In [27]:
l

[1, 2, 3, 4]

In [33]:
print('the original list is :',l)
indices_list=[i for i in range(len(l)) if l[i]%2==0]
diff=indices_list[-1]-indices_list[0]
print('evenelement span :',diff)

the original list is : [1, 2, 3, 4]
evenelement span : 2

In [34]:
i for i in l is x^2

SyntaxError: invalid syntax (2694905121.py, line 1)

In [35]:
i**2 for i in l

SyntaxError: invalid syntax (3485325538.py, line 1)

In [40]:
a=[i**2 for i in l if i%2!=0]

In [41]:
a

[1, 9]

In [46]:
def evelspan(l):
    indices_l=list(filter(lambda x:l[x]%2==0,range(len(l))))
    res=indices_l[-1]-indices_l[0]
    return res

In [47]:
evelspan(l)

2

In [49]:
p=15648
p=str(p)
f_d,l_d=int(p[0]),int(p[-1])
add=f_d+l_d
print('addition of first and last digit in a number :',add)

addition of first and last digit in a number : 9

In [50]:
n='nalla krishna'
print(n.upper)

<built-in method upper of str object at 0x00000174D57819B0>

In [51]:
n.upper

In [52]:
n.upper()

'NALLA KRISHNA'

In [53]:
n.capitalize()

'Nalla krishna'

In [54]:
n.title()

'Nalla Krishna'

In [55]:
def infic(k):
    k[0],k[-1]=k[0].upper,k[-1].upper()
    return k

In [57]:
l='krishna nalla madda'
infic(l)

TypeError: 'str' object does not support item assignment

In [58]:
l.split()

['krishna', 'nalla', 'madda']

In [61]:
print('initial string :',l)
m=l.split()
n=[]
for i in m:
    x=i[0].upper()+i[1:-1]+i[-1].upper()
    n.append(x)
n=' '.join(n)
print('final string :',n)

initial string : krishna nalla madda
final string : KrishnA NallA MaddA

In [66]:
def sepin(l):
    a=l.split()
    b=[a[0],' '.join(a[1::])]
    return b

In [67]:
sepin(l)

['krishna', 'nalla madda']

In [69]:
nalla_krishna=[1,2,3,4,45]

In [77]:
def soe(l):
    print('the original name:',l)
    odd_i=[]
    even_i=[]
    for i in range(len(l)):
        if i%2 :
            even_i.append(l[i])
        else:
            odd_i.append(l[i])
    x=even_i+odd_i
    print('seperated even and odd number:',x)

In [78]:
soe(l)

the original name: krishna nalla madda
seperated even and odd number: ['r', 's', 'n', ' ', 'a', 'l', ' ', 'a', 'd', 'k', 'i', 'h', 'a', 'n', 'l', 'a', 'm', 'd', 'a']

In [89]:
def soe1(k):
    print('the initial variable:',k)
    sep=list(k[1::2]+k[::2])
    print('final list:',sep)

In [90]:
soe1(l)

the initial variable: krishna nalla madda
final list: ['r', 's', 'n', ' ', 'a', 'l', ' ', 'a', 'd', 'k', 'i', 'h', 'a', 'n', 'l', 'a', 'm', 'd', 'a']

In [91]:
l=list(range(15))

In [92]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [104]:
l=[1,2,3,4,5,6]
even_count,odd_count=0,0
for i in l:
    if i%2==0:
        even_count+=1
     
    else:
        odd_count+=1
print('count of even numbers :',even_count)
print('count of even numbers :',odd_count)

count of even numbers : 3
count of even numbers : 3

In [2]:
l=[1,23,24,5,6,7,8,98]
only_odd=[i for i in l if i%2==1]
odd_count=len(only_odd)
even_count=len(l)-odd_count
print('count of even numbers:',even_count)
print('count of odd numbers :',odd_count)

count of even numbers: 4
count of odd numbers : 4

In [3]:
enumerate(l)

In [4]:
list(enumerate(l))

[(0, 1), (1, 23), (2, 24), (3, 5), (4, 6), (5, 7), (6, 8), (7, 98)]

In [5]:
list(enumerate(l,10))

[(10, 1), (11, 23), (12, 24), (13, 5), (14, 6), (15, 7), (16, 8), (17, 98)]

In [11]:
l1=list(range(10));c0=0;c1=0
for i in l1:
    if i%2==1:
        c0+=1
    else:
        c1+=1
print('even count :',c0  ,'   odd count :',c1)

even count : 5    odd count : 5

In [9]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
l='pavan kumar uppala'
a=l.split()
for ele in enumerate(a):
    print(ele)
for index,ele in enumerate(a,50):
    print(index,ele)
for index,ele in enumerate(a):
    print(index)
    print(ele)

(0, 'pavan')
(1, 'kumar')
(2, 'uppala')
50 pavan
51 kumar
52 uppala
0
pavan
1
kumar
2
uppala

In [ ]:
## updating a dictionary ##

In [20]:
d={'pk':2,'ku':3,'rr':0}
print('the initial dictionary is :',d)
d1=[{'km':2,'rru':0,'pku':1,'pavan':4}]
for i in d1:
    d.update(i)
print('the final dictionary is :',d)

the initial dictionary is : {'pk': 2, 'ku': 3, 'rr': 0}
the final dictionary is : {'pk': 2, 'ku': 3, 'rr': 0, 'km': 2, 'rru': 0, 'pku': 1, 'pavan': 4}

In [21]:
td={'pkg':4,'ku':5,'mar':6}
print('the original dictionary :',td)
for i in td:
    if td[i]%2==0:
        td[i]*=3
print('the dictionary after triple even keys value :',td)

the original dictionary : {'pkg': 4, 'ku': 5, 'mar': 6}
the dictionary after triple even keys value : {'pkg': 12, 'ku': 5, 'mar': 18}

In [22]:
td={'pkg':4,'ku':5,'mar':6}
print('the original dictionary :',td)
for i in td:
    if i%2==0:
        i*=3
print('the dictionary after triple even keys value :',td)

the original dictionary : {'pkg': 4, 'ku': 5, 'mar': 6}

TypeError: not all arguments converted during string formatting

In [23]:
td.keys()

dict_keys(['pkg', 'ku', 'mar'])

In [28]:
for key in td:
    print(td[key])

4
5
6

In [29]:
td.items()

dict_items([('pkg', 4), ('ku', 5), ('mar', 6)])

In [32]:
test_dict = {'Gfg' : (5, 6), 'is' : (7, 8), 'best' : (10, 11)}
print('the original dictionary is :',test_dict)
d={key:tuple(i*3 for i in val)
      for key,val in test_dict.items()}
print('the edited tuple balues are :',d)

the original dictionary is : {'Gfg': (5, 6), 'is': (7, 8), 'best': (10, 11)}
the edited tuple balues are : {'Gfg': (15, 18), 'is': (21, 24), 'best': (30, 33)}

In [1]:
from collections import Counter

In [2]:
c=Counter(p=4,k=2,l=8,n=0,m=-9)
print(list(c.elements()))

['p', 'p', 'p', 'p', 'k', 'k', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l']

In [6]:
d='pavan kumaruppala jhvdjcvdkhckgci'
print('initial string is :',d)
print('most common 5 characters of string :',Counter(d).most_common(20))

initial string is : pavan kumaruppala jhvdjcvdkhckgci
most common 5 characters of string : [('a', 5), ('p', 3), ('v', 3), ('k', 3), ('c', 3), (' ', 2), ('u', 2), ('j', 2), ('h', 2), ('d', 2), ('n', 1), ('m', 1), ('r', 1), ('l', 1), ('g', 1), ('i', 1)]

In [19]:
from collections import Counter,OrderedDict
class OrderedCounter(Counter,OrderedDict):
    pass
word_array=[]
n=int(input('no of words ;'))
print('input the words:')
for i in range(n):
    word_array.append(input())
    word_ctr=OrderedCounter(word_array)
print(len(word_ctr))
for word in word_ctr:
    print(word_ctr[word],end=' ')

no of words ;2
input the words:
jhvjv
jhvjcjv
2
1 1

In [2]:
import collections
deque_colours=collections.deque([input(),input(),input()])
print(deque_colours)
print('\nadding left : ')
deque_colours.appendleft(input())
print(deque_colours)
print('\nadding right :')
deque_colours.append(input())
print(deque_colours)
print('\nremoving left :')
deque_colours.popleft()
print(deque_colours)
print('\nremoving right : ')
deque_colours.pop()
print(deque_colours)
print('\nreversing the list :')
deque_colours.reverse()
print(deque_colours)

pavan
kumar
uppala
deque(['pavan', 'kumar', 'uppala'])

adding left :
good
deque(['good', 'pavan', 'kumar', 'uppala'])

adding right :
bad
deque(['good', 'pavan', 'kumar', 'uppala', 'bad'])

removing left :
deque(['pavan', 'kumar', 'uppala', 'bad'])

removing right :
deque(['pavan', 'kumar', 'uppala'])

reversing the list :
deque(['uppala', 'kumar', 'pavan'])

In [ ]:
## to add more values with a variable in deque##

In [4]:
import collections
e_n=(2,4,6,8,10,12);exe_n=(14,16,18,20,22,20)
e_d=collections.deque(e_n)
print('initial deque is :',e_d)
e_d.extend(exe_n)
print('final deque is :',e_d)

initial deque is : deque([2, 4, 6, 8, 10, 12])
final deque is : deque([2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 20])

In [5]:
## removing all elements in deque##

In [8]:
import collections
o_n=(1,3,5,7,9,11);exo_n=(13,15,17)
o_d=collections.deque(o_n);print('the initial deque is :',o_d)
o_d.clear();print('the final deque and length is :',o_d,len(o_d))

the initial deque is : deque([1, 3, 5, 7, 9, 11])
the final deque and length is : deque([]) 0

In [9]:
## rotation of a deque##

In [15]:
o_n=(1, 3, 5, 7, 9, 11)
o_d=collections.deque(o_n);print(' the initial deque is :',o_d)
o_d.rotate();print('deque afer 1 positive rotation :',o_d)
o_d.rotate(2);print('after 2 positive rotations :',o_d)
o_d.rotate(3);print('after 3 poitive rotations :',o_d)
e_d.rotate(-1);print('after 1 negative rotations :',e_d)
e_d.rotate(-3);print('after 2 negative rotations :',e_d)

 the initial deque is : deque([1, 3, 5, 7, 9, 11])
deque afer 1 positive rotation : deque([11, 1, 3, 5, 7, 9])
after 2 positive rotations : deque([7, 9, 11, 1, 3, 5])
after 3 poitive rotations : deque([1, 3, 5, 7, 9, 11])
after 1 negative rotations : deque([6, 8, 10, 12, 14, 16, 18, 20, 22, 20, 2, 4])
after 2 negative rotations : deque([12, 14, 16, 18, 20, 22, 20, 2, 4, 6, 8, 10])

In [16]:
## most common element of a list##

In [18]:
from collections import Counter
strings=['pkg','pkg','kumar','jhcguf'];print('original list :',strings)
cnt=Counter(strings);print('most common element of the said list :',cnt.most_common(2))

original list : ['pkg', 'pkg', 'kumar', 'jhcguf']
most common element of the said list : [('pkg', 2), ('kumar', 1)]

In [19]:
## second lowest total marks of any students##

In [39]:
students=[]
thirdlow=0
n=int(input('input the no of the students :'))
for i in range(n):
    s_name=input('name :')
    marks=float(input('enter the marks :'))
    students.append([s_name,marks])
print('names and marks of students :',students)
order=sorted(students,key=lambda x:int(x[1]));print('the sorted list is :',order)
for i1 in range(n):
   thirdlow=order[2][1]
   
print('3rd lowest mark is :',thirdlow)
thirdlow_stdname=[x[0] for x in order if x[1]==thirdlow]
thirdlow_stdname.sort()
print('names :')
for i2 in thirdlow_stdname:
    print(i2)

input the no of the students :5
name :pavan
enter the marks :50
name :lumar
enter the marks :48
name :uppala
enter the marks :48
name :asadhya
enter the marks :22
name :scb
enter the marks :49
names and marks of students : [['pavan', 50.0], ['lumar', 48.0], ['uppala', 48.0], ['asadhya', 22.0], ['scb', 49.0]]
the sorted list is : [['asadhya', 22.0], ['lumar', 48.0], ['uppala', 48.0], ['scb', 49.0], ['pavan', 50.0]]
3rd lowest mark is : 48.0
names :
lumar
uppala

In [40]:
print(order)

[['asadhya', 22.0], ['lumar', 48.0], ['uppala', 48.0], ['scb', 49.0], ['pavan', 50.0]]

In [41]:
students=[]
second_low = 0
n = int(input("Input number of students: "))
for _ in range(n):
   s_name = input("Name: ")
   score = float(input("Total marks: "))
   students.append([s_name,score])
print("\nNames and Marks of all students:")
print(students)
order =sorted(students, key = lambda x: int(x[1]))
for i in range(n):
   if order[i][1] != order[0][1]:
       second_low = order[i][1]
       break
print("\nSecond lowest Marks: ",second_low)
sec_student_name = [x[0] for x in order if x[1] == second_low]
sec_student_name.sort()
print("\nNames:")
for s_name in sec_student_name:
   print(s_name)

Input number of students: 4
Name: pavan
Total marks: 50
Name: kumar
Total marks: 49
Name: uppala
Total marks: 48
Name: asadhya
Total marks: 48

Names and Marks of all students:
[['pavan', 50.0], ['kumar', 49.0], ['uppala', 48.0], ['asadhya', 48.0]]

Second lowest Marks:  49.0

Names:
kumar

In [42]:
print(order)

[['uppala', 48.0], ['asadhya', 48.0], ['kumar', 49.0], ['pavan', 50.0]]

In [49]:
from collections import Counter
l=[1,2,3,4,6,4,5,5,6,4,7,5,2,1,5,4,5,5,5,4,6,7,6,7,6,7]
ctr=Counter(l)
print(ctr.most_common(4))

[(5, 7), (4, 5), (6, 5), (7, 4)]

In [55]:
least_count=min(ctr,key=ctr.get);max_count=max(ctr,key=ctr.get)
print('least common element of the list :',least_count)
print('most common element of the list :',max_count)

least common element of the list : 3
most common element of the list : 5

In [53]:
## minimum and maximum oocurance of given elements##

In [56]:
##adding dictionaries##

In [59]:
import collections
color1={'r':'red','b':'blue','g':'green'};color2={'w':'white','o':'orange'}
merged_dict=dict(collections.ChainMap({},color1,color2))
print('merged dictionary is :',merged_dict)

merged dictionary is : {'w': 'white', 'o': 'orange', 'r': 'red', 'b': 'blue', 'g': 'green'}

In [60]:
## characters in a list of strings which occur more or less than the number##

In [69]:
from collections import Counter
from itertools import chain
def maxmin_occur(l,n):
    temp=(set(sub)for sub in l)
    counts=Counter(chain.from_iterable(temp))
    gt_n=[chr for chr,count in counts.items() if count>=n]
    lt_n=[chr for chr,count in counts.items() if count<n]
    return gt_n,lt_n

In [ ]:
#doubt#

In [70]:
l=['paban','kumar']

In [72]:
maxmin_occur(l,3)

([], ['b', 'n', 'a', 'p', 'm', 'k', 'r', 'u'])

In [109]:
from collections import OrderedDict
text_str = "Python Exercises Practice Practice Practice Solution Exercises solution Python"
result = ' '.join(OrderedDict((w,w) for w in text_str.split()).keys())
print(result)

Python Exercises Practice Solution solution

In [110]:
#doubt#

In [111]:
a=text_str.split()

In [112]:
a

['Python',
 'Exercises',
 'Practice',
 'Practice',
 'Practice',
 'Solution',
 'Exercises',
 'solution',
 'Python']

In [113]:
b=OrderedDict((i,i) for i in a)

In [114]:
b

OrderedDict([('Python', 'Python'),
             ('Exercises', 'Exercises'),
             ('Practice', 'Practice'),
             ('Solution', 'Solution'),
             ('solution', 'solution')])

In [115]:
' '.join(b)

'Python Exercises Practice Solution solution'

In [116]:
## remove duplicate words##

In [117]:
## doubt OrderedDict##

In [118]:
from collections import Counter
from itertools import chain
a=[[1,3,3,4,65,5],[2,3,4,6]]
result=Counter(chain.from_iterable(a))
print(result)

Counter({3: 3, 4: 2, 1: 1, 65: 1, 5: 1, 2: 1, 6: 1})

In [119]:
##frequency of elements from list of lists##

In [120]:
## separing roll numbers based on class name##

In [128]:
from collections import defaultdict
classes=(('v',1),('v',2),('vi',3),('vii',4))
class_roomno=defaultdict(list)
for class_name,roll_no in classes:
    class_roomno[class_name].append(roll_no)
print(class_roomno)

defaultdict(<class 'list'>, {'v': [1, 2], 'vi': [3], 'vii': [4]})

In [129]:
## doubt##

In [130]:
## reversing the dict ##

In [147]:
from collections import OrderedDict
d={'kohli':96,'virat':25,'rohit':99}
new_dict=OrderedDict(d.items())
for key in new_dict:
    print(key,new_dict[key])
a=reversed(new_dict)
for key in a:
    print('\n',key,new_dict[key])

kohli 96
virat 25
rohit 99

 rohit 99

 virat 25

 kohli 96

In [148]:
## compare lists##

In [159]:
def comp_list(x,y):
    return x[i]==y[i] and len(x)==len(y)

In [160]:
l1=[1,2,3,4];l2=[1,2,3,4,5]
comp_list(l1,l2)

False

In [161]:
from collections import Counter
def com_lists(x,y):
    return Counter[x]==Counter[y]

In [162]:
com_lists(l1,l2)

False